div.instanceDiv.color-scheme-deepocean *,
div.instanceDiv.color-scheme-deepocean,
body.color-scheme-deepocean,
body.color-scheme-deepocean * {
  --bg: #263238;
  --fg: #B0BEC5;
  --red: #F07178;
  --green: #C3E88D;
  --yellow: #FFCB6B;
  --blue: #82AAFF;
  --purple: #C792EA;
  --aqua: #89DDFF;
  --gray: #546E7A;
  --orange: #f78C6C;
  --body-padding: .4em;
  --font-size: 16px;
  --font-family: "Source Code Pro", monospace;
}