div.instanceDiv.color-scheme-nightowl *,
div.instanceDiv.color-scheme-nightowl,
body.color-scheme-nightowl,
body.color-scheme-nightowl * {
  --bg: #011627;
  --fg: #d6deeb;
  --red: #EF5350;
  --green: #22da6e;
  --yellow: #c5e478;
  --blue: #82AAFF;
  --purple: #C792EA;
  --aqua: #21c7a8;
  --gray: #637777;
  --orange: #FFB458;
  --body-padding: .6em;
  --font-size: 16px;
  --font-family: "Source Code Pro", monospace;
}