div.instanceDiv.color-scheme-palenight *,
div.instanceDiv.color-scheme-palenight,
body.color-scheme-palenight,
body.color-scheme-palenight * {
  --bg: #292D3E;
  --fg: #BFC7D5;
  --red: #ff5572;
  --green: #a9c77d;
  --yellow: #FFCB6B;
  --blue: #82AAFF;
  --purple: #C792EA;
  --aqua: #89DDFF;
  --gray: #697098;
  --orange: #FFB42A;
  --body-padding: .4em;
  --font-size: 16px;
  --font-family: "Source Code Pro", monospace;
}