/*Fallback theme*/
body,
body * {
  --bg: #000;
  --fg: #fff;
  --red: #fff;
  --green: #fff;
  --yellow: #fff;
  --blue: #fff;
  --purple: #fff;
  --aqua: #fff;
  --gray: #aaa;
  --orange: #fff;
  --body-padding: 2em;
  --font-size: 14px;
  --font-family: monospace;
}

html {
  height: 100%;
  margin: 0;
}

body {
  width: calc(100% - calc(var(--body-padding) * 2));
  height: calc(100% - calc(var(--body-padding) * 2));
  margin: 0px;
  padding: var(--body-padding);
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-color: var(--bg);
  color: var(--fg);
}