/*Fallback theme*/
div.instanceDiv,
div.instanceDiv * {
  --bg: #000;
  --fg: #fff;
  --red: #fff;
  --green: #fff;
  --yellow: #fff;
  --blue: #fff;
  --purple: #fff;
  --aqua: #fff;
  --gray: #aaa;
  --orange: #fff;
  --body-padding: 2em;
  --font-size: 14px;
  --font-family: monospace;
}

html {
  height: 100%;
  margin: 0;
}

div.instanceDiv {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: var(--body-padding);
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-color: var(--bg);
  color: var(--fg);
  height:calc(100vh - 40px);
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  background-color: var(--bg);
  height:100%;
  color:white;
  font-family:"Source Code Pro", monospace;
  padding:0;
  margin:0;
}