div#tabs {
  height: 40px;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  padding:0;
}

div#tabs div.instanceTab {
  height: 40px;
  line-height: 30px;
  max-height: 40px;
  border-right: #0006 1px solid;
  display: inline-block;
  min-width: 75px;
  padding: 5px 15px;
  padding-right: 40px;
  border-radius: 0;
  position: relative;
  transition: background-color 0.2s, opacity 0.3s;
  font-family: "Source Code Pro", monospace;
  box-sizing: border-box;
}

div#tabs div.instanceTab.selected {
  background-color: #ffffff13;
}

div.instanceDiv.hidden {
  display: none;
}

div.instanceDiv {
  border-top: var(--gray) 2px solid;
}

div.instanceTab span.close {
  font-family: "Material Icons";
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

div.createButton {
  height: 30px;
  width: 30px;
  line-height: 30px;
    background-color: #fff1;
  display: inline-block;
  border-radius: 2.5px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-family: "Source Code Pro", monospace;
  box-sizing: border-box;
  margin-left:5px;
}

div.instanceTab:hover,
div.createButton:hover {
  background-color: #fff2 !important;
  opacity: 1;
  transition: background-color 0.2s, opacity 0.3s;
}

div.tabHolder::-webkit-scrollbar {
  display: none;
}
