:root {
  --bg: #000;
  --fg: #fff;
  --red: #f00;
  --green: #0f0;
  --yellow: #ff0;
  --blue: #00f;
  --purple: #a0f;
  --aqua: #afa;
  --gray: #444;
  --orange: #ff7b00;
  --body-padding: 1em;
  --font-size: 16px;
  --font-family: 'Roboto Mono', monospace;
}