div.instanceDiv.color-scheme-default *,
div.instanceDiv.color-scheme-default,
body.color-scheme-default,
body.color-scheme-default * {
  --bg: #000;
  --fg: #fff;
  --red: #f00;
  --green: #0f0;
  --yellow: #ff0;
  --blue: #00f;
  --purple: #a0f;
  --aqua: #afa;
  --gray: #444;
  --orange: #ff7b00;
  --body-padding: 0.5em;
  --font-size: 14px;
  --font-family: monospace;
}
