.color-scheme-gruvbox *,
.color-scheme-gruvbox {
  --bg: #282828;
  --fg: #ebdbb2;
  --red: #fb4934;
  --green: #98971a;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --gray: #a89984;
  --orange: #fe8019;
  --body-padding: 1em;
  --font-size: 16px;
  --font-family: 'Roboto Mono', monospace;
}