.color-scheme-nord *,
.color-scheme-nord {
  --bg: rgb(46, 52, 64);
  --fg: rgb(216, 222, 233);
  --red: #bf616a;
  --green: #a3be8b;
  --yellow: #ebcb8b;
  --blue: #5e81ac;
  --purple: #b48ead;
  --aqua: #8fbcbb;
  --gray: rgb(109, 109, 109);
  --orange: #d0a770;
  --body-padding: .2em;
  --font-size: 14px;
  --font-family: 'Roboto Mono', monospace;
}